@import '../../variables.scss';

.disk{
    padding-top: 20px;
    width: 100%;
    &__back{
        margin-right: 15px;
    }
    &__btns{
        display: flex;
    }
    &__upload{
        display: flex;
        flex-direction: column;
        input {
            display: none;
        }
    }
    &__label{
        border: 2px dashed $font-color;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 15px;
    }
    &__select{
        margin-left: auto;
    }
}

.drop-area{
    width: calc(100vw - 20px);
    height: calc(100vh - 50px - 40px);
    margin: 20px;
    border: 2px dashed $font-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }